body {
    font-family: 'Arial';
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.stopwatch-container {
    background-color: gray;
    width: 300px;
    text-align: center;
    border-radius: 16px;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    font-size: 24px;
    color: black;
}

.stopwatch .time {
    font-size: 48px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #2d3436;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-button {
    margin-left: 10px;
}

.buttons .button-start,
.buttons .button-stop,
.buttons .button-reset {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 10px;
    margin: 5px;
}

.record-header {
    display: flex; 
    align-items: center; 
    position: relative; 
    justify-content: space-between;
    margin: 10px;
}

.record-container {
    margin-top: 20px;
    overflow-y: auto;
    background-color: #ddd;
}

.record-container h2 {
    margin-top: 10px;
    font-size: 20px;
    color: black;
    margin: 0; /* 기본 여백 제거 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 텍스트를 중앙으로 이동 */
}

.record-container .record-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.record-container .record-list li {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.record-container .record-list li:last-child {
    border-bottom: none;

}

.clear-all-button {
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    transition: background-color 0.3s ease;

}
