{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %}
        <link rel="stylesheet" href="{% static 'tool/update.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="update_container">
        <h3 class="form_title yellow">DevTool Detail Update</h3>
        <p class="discription">개발툴 등록 페이지 입니다. 자신이 다룰 수 있는 개발툴을 등록해 보세요.</p>
        <form action="" method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit_button">SUBMIT</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>